/*============================

RESET

============================*/

*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:#ffffff;
overflow-x:hidden;
font-family:Inter,sans-serif;

}

/*============================

FULL IMAGES

============================*/

.hero{

width:100%;

}

.hero img{

width:100%;

display:block;

}

/*==================================
CURATED DESTINATIONS
==================================*/

.projects{

    background:#f6f3ed;

    padding:80px 25px;

}

.projects h2{

    text-align:center;

    font-family:'Playfair Display',serif;

    font-size:2.2rem;

    font-weight:500;

    margin-bottom:70px;

    letter-spacing:4px;

    color:#222;

}

.project-row{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:35px 0;

    border-bottom:1px solid #d9d4ca;

    text-decoration:none;

    color:#222;

    transition:.3s;

}

.project-row:hover{

    padding-left:12px;

}

.country{

    display:block;

    margin-bottom:12px;

    color:#9b8a67;

    font-size:.75rem;

    letter-spacing:3px;

}

.project-row h3{

    font-family:'Playfair Display',serif;

    font-size:2rem;

    font-weight:500;

    margin-bottom:8px;

}

.project-row p{

    color:#666;

    font-size:1rem;

}

.project-right{

    text-align:right;

}

.project-right span{

    display:block;

    color:#999;

    font-size:.8rem;

    margin-bottom:6px;

}

.project-right strong{

    display:block;

    font-family:'Playfair Display',serif;

    font-size:1.8rem;

    font-weight:500;

    margin-bottom:12px;

}

.project-right small{

    color:#8c7450;

    letter-spacing:2px;

}

/*=============================
MOBILE
=============================*/

@media(max-width:768px){

.project-row{

flex-direction:column;

align-items:flex-start;

gap:18px;

}

.project-right{

text-align:left;

}

.projects h2{

font-size:1.8rem;

}

.project-row h3{

font-size:1.7rem;

}

.project-right strong{

font-size:1.5rem;

}

}